<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Main_Control</servlet-name>
        <servlet-class>Control.Main_Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_Login</servlet-name>
        <servlet-class>Control.Control_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_Signin</servlet-name>
        <servlet-class>Control.Control_Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_AddProduct</servlet-name>
        <servlet-class>Control.Control_AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_AddClient</servlet-name>
        <servlet-class>Control.Control_AddClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_Perfil</servlet-name>
        <servlet-class>Control.Control_Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_Facturar</servlet-name>
        <servlet-class>Control.Control_Facturar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_Fac_C</servlet-name>
        <servlet-class>Control.Control_Fac_C</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Control_Fac_P</servlet-name>
        <servlet-class>Control.Control_Fac_P</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main_Control</servlet-name>
        <url-pattern>/Main_Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_Login</servlet-name>
        <url-pattern>/Control_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_Signin</servlet-name>
        <url-pattern>/Control_Signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_AddProduct</servlet-name>
        <url-pattern>/Control_AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_AddClient</servlet-name>
        <url-pattern>/Control_AddClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_Perfil</servlet-name>
        <url-pattern>/Control_Perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_Facturar</servlet-name>
        <url-pattern>/Control_Facturar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_Fac_C</servlet-name>
        <url-pattern>/Control_Fac_C</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control_Fac_P</servlet-name>
        <url-pattern>/Control_Fac_P</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
